@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@font-face{
   font-family: DS_DIGITAL;
   src: url(../fonts/DS-DIGI.TTF);
}
*{
   margin: 0px;
   padding: 0px;
   text-decoration: none;
   box-sizing: border-box; 
}

body{
   width: 100vw;
   height: 90vh;
   margin-top: 10px;
   background-image: url("BACKGROUND.jpg"); 
   background-repeat: no-repeat;
   -o-background-size: cover;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   font-family: 'Ubuntu', sans-serif;  
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
   width: 100%;
   text-align: center;
   font-family: 'Luckiest Guy', cursive;
   color: #00ffdd;
   margin: 10px;
   letter-spacing: .4rem;
}
h1{
   margin:0;
   font-size: 5.5em;
   padding: 0;
   text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0,0,0,1),
   0.05em 0.005em 0 rgba(0,0,0,1), 0em 0.08em 0 rgba(0,0,0,1),
   0.05em 0.008em 0 rgba(0,0,0,1), 0px -0.03em 0 rgba(0,0,0,1),
   -0.03em -0.03em 0 rgba(0,0,0,1), -0.03em 0.08em 0 rgba(0,0,0,1), -0.03em 0 0 rgba(0,0,0,1);
}
.placar{
   display: flex;
   justify-content: center;
   padding: 5px;
   margin-bottom: 10px;
   background-color: #3d3d3a;
   color:#fff;
   border: 1px solid #9c9c9c;
   border-radius: 5px;
   box-shadow: 0px 2px 4px #888888;
   font-family: 'Luckiest Guy', cursive;
   text-align: center;
}
.placar #vitorias, .placar #derrotas
{
   width: 270px;
   background-color: #000;
   margin: 2px;
   border: 2px solid #716c6c;
   border-radius: 5px;
   font-size: 40px;
   font-family: DS_DIGITAL;
}
.placar #vitorias{
   color: #02f53a;
}
.placar #derrotas{
   color: #ff0000;
}
.borda-imagem{
   width: 600px;
   height: 47px;
   margin: 20px;
   margin-top: 0;
   border:10px solid #00ffdd;
   border-radius: 40px;
}
.borda-imagem #imagem{
   width:100%;
   height:100%;
   border: 10px solid #00ffdd;
   border-radius: 40px;
   box-shadow: 0px 2px 4px #888888;
   background-image:url(../img/ABELHA.jpg);
}
.progresso{
   display: flex;
   width: 500px;
   height: 30px;
   margin: 10px;
   background-color: #c9c9c9;
   border-radius: 10px;
   box-shadow: 0 2px 4px #888888;
}
.progresso div{
   width: 20%;
   height: 30px;
   background-color: #fff;
   margin-right:1px;
}
.progresso #progresso-01{
   margin-left: 0;
   border-radius: 0 10px 0 0 10px;

}
.progresso #progresso-05{
   margin-right: 0;
   border-radius: 0 10px 10px 0;
}
form{
   width: 600px;  
}
.input-container{
   position: relative;
   margin-top: 30px; 
}
.input-container label{
   position: absolute;
   top: 20px;
   left:0px;
   font-family: 'Poppins', sans-serif;
   font-size:10px;
}
.input-container input{
   margin-top: 30px; 
}
